<section class='post'>
  <header class='post-header'>
    <h2 class='post-title'><%= article.title %></h2>
    <p class="post-meta">
      Authored by <%= article.user.username %>
      <%= time_ago_in_words(article.created_at) %>
      ago
    </p>
  </header>
  <div class='post-description'>
    <p>
      <%= truncate(article.description, length: 300) %>
    </p>
  </div>
  <div class='actions'>
    <%= link_to 'More', article_path(article), class: 'pure-button pure-button-primary' %>
  </div>
</section>
