<%= render 'shared/flashes' %>
<div class='show'>
  <section class='post'>
    <header class='post-header'>
      <h2 class='post-title'><%= @article.title %></h2>
      <p class="post-meta">
        Created
        <%= time_ago_in_words(@article.created_at) %>
      </p>
    </header>
    <div class='post-description'>
      <p>
        <%= @article.description %>
      </p>
    </div>
    <div class='actions'>
      <%= link_to 'Edit', edit_article_path(@article), class: 'pure-button pure-button-primary' %>
      <%= link_to 'Delete', article_path(@article), class: 'pure-button button-error', method: :delete %>
    </div>
  </section>
</div>
