<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='pure-g'>
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class='user-actions'>
          <% navigation_items.each do |link| %>
            <%= link %>
          <% end %>
        </div>
        <div class='header'>
          <h1 class='brand-title'>Adam's Blog</h1>
          <h2 class='brand-tagline'>A place to create articles for all to enjoy</h2>
          <div class='links'>
            <ul>
              <li>
                <%= link_to 'New Article', new_article_path, class: 'pure-button pure-button-primary' %>
              </li>
              <li>
                <%= link_to 'Articles', articles_path, class: 'pure-button pure-button-primary' %>
              </li>
              <li>
                <%= link_to 'Users', users_path, class: 'pure-button pure-button-primary' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='content pure-u-1 pure-u-md-1-2'>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
